<template>
  <div class="header-search-input">
    <template v-if="!inputState">
      <a :href="sortable ? '#' : false" @click="onSortTrigger">
        <span class="title">{{ title }}</span>
        <span class="sort-order" v-if="sortStatus">{{ sortStatus === SORT_STATUSES.ASC ? '☝️' : '👇' }}</span>
      </a>
      <div v-if="query" >
        <span class="search-hint">
          Search by: {{ query }}
        </span>
        <button @click="query = ''; $emit('input', '')">❌</button>
      </div>
    </template>
    <input
      v-else
      ref="input"
      :value="query"
      :placeholder="title"
      @input="onInput($event.target.value)"
    />
    <button
      v-if="searchable"
      @click="toggleSearch"
      class="toggle-button"
    >{{ inputState ? '❌' : '🔍'}}</button>
  </div>
</template>

<script>
import debounce from 'lodash/debounce';

const SORT_STATUSES = {
  ASC: 'asc',
  DESC: 'desc',
};

export default {
  name: 'HelloWorld',
  props: {
    title: String,
    searchable: {
      type: Boolean,
      default: false,
    },
    sortable: {
      type: Boolean,
      default: false,
    },
    order: {
      type: String,
      default: null,
      validator: val => Object.values(SORT_STATUSES).includes(val),
    },
    debounceDelay: {
      type: Number,
      default: 0,
      validator: val => val >= 0,
    },
  },
  data: () => ({
    inputState: false,
    sortStatus: null,
    query: '',
  }),
  created() {
    this.SORT_STATUSES = SORT_STATUSES;
    if (this.debounceDelay) {
      this.$emitDebounced = debounce(this.$emit, this.debounceDelay);
    }
  },
  watch: {
    order(value) {
      this.sortStatus = value;
    },
  },
  methods: {
    onInput(value) {
      this.query = value;
      this.debounceDelay ? this.$emitDebounced('input', value) : this.$emit('input', value);
    },
    onSortTrigger() {
      if (!this.sortable) return;
      let newSortStatus;
      if (!this.sortStatus) {
        newSortStatus = SORT_STATUSES.ASC;
      } else if (this.sortStatus === SORT_STATUSES.ASC) {
        newSortStatus = SORT_STATUSES.DESC;
      } else {
        newSortStatus = null;
      }
      this.$emit('sort', newSortStatus);
    },
    toggleSearch() {
      this.inputState = !this.inputState;
      this.$nextTick(() => this.inputState && this.$refs.input.focus());
    },
  },
};
</script>

<style scoped lang="stylus">
.header-search-input {
  position: relative;
  height: 60px;
}

.toggle-button {
  position: absolute;
  right: 0;
  top: 0;
}

a {
  text-decoration: none; 
}

.sort-order {
  margin-left: 12px;
}

.title {
  font-family: 'Quicksand', sans-serif;
}

.search-hint {
  font-size: 0.7em;
}
</style>
