<template>
  <div
    id="app"
    v-infinite-scroll="fetchMovies"
    infinite-scroll-distance="480"
  >
    <table>
      <col width="500">
      <col width="300">
      <col width="300">
      <tr>
        <th>
          <HeaderSearchInput
            title="📽️ Movie"
            @input="onSearchInput('title', $event)"
            :query="filters['title'] || ''"
            @sort="onSortInput('title', $event)"
            :order="sortField === 'title' ? sortOrder : null"
            :debounce-delay="250"
            sortable
            searchable
          />
        </th>
        <th>
          <HeaderSearchInput
            title="🎬 Director"
          />
        </th>
        <th>
          <HeaderSearchInput
            title="⏱️ Year"
            @input="onSearchInput('year', $event)"
            :query="filters['year'] || ''"
            @sort="onSortInput('year', $event)"
            :order="sortField === 'year' ? sortOrder : null"
            :debounce-delay="250"
            sortable
            searchable
          />
        </th>
      </tr>
      <tr
        :key="id"
        v-for="{ id, title, year, director } in joinedData"
      >
        <td class="title">{{ title }}</td>
        <td class="director">{{ director ? director.title : '' }}</td>
        <td class="year">{{ year }}</td>
      </tr>
    </table>
    <div class="status-bar">
      <span v-if="humanReadableMoviesFetchStatus">
        {{ humanReadableMoviesFetchStatus }}
      </span>
      <br />
      <span>
        <button
          :disabled="fetchMoviesStatus === FETCH_STATUSES.PROCESS || listEndReached"
          v-show="!listEndReached"
          @click="forceFetch"
        >
          Load
        </button>
      </span>
    </div>
  </div>
</template>

<script>
import Api from './util/api';
import { concatArraysByKey, joinArrays } from './util/arrays';

import HeaderSearchInput from './components/HeaderSearchInput.vue';

const FETCH_STATUSES = {
  INIT: 'INIT',
  PROCESS: 'PROCESS',
  SUCCESS: 'SUCCESS',
  FAIL: 'FAIL',
};

const MOVIES_PER_FETCH = 32;

export default {
  name: 'app',
  data: () => ({
    fetchMoviesStatus: FETCH_STATUSES.INIT,
    fetchDirectorsStatus: FETCH_STATUSES.INIT,
    lastLoadedPage: 0,
    listEndReached: false,
    movies: [],
    directors: [],
    sortField: null,
    sortOrder: null,
    filters: {},
  }),
  created() {
    this.FETCH_STATUSES = FETCH_STATUSES;
  },
  mounted() {
    this.fetchDirectors();
  },
  methods: {
    fetchMovies: async function(options = { forced: false, resetList: false }) {
      const shouldSkip =
        this.fetchMoviesStatus === FETCH_STATUSES.PROCESS ||
        (this.listEndReached && !options.resetList) ||
        (this.fetchMoviesStatus === FETCH_STATUSES.FAIL && !options.forced && !options.resetList);
      if (shouldSkip) return;

      this.fetchMoviesStatus = FETCH_STATUSES.PROCESS;
      try {
        const newMovies = await Api.getMovies(
          Api.buildRequestParams()
            .sortByField(this.sortField, this.sortOrder)
            .filterByFields(this.filters)
            .setPage(options.resetList ? 1 : this.lastLoadedPage + 1)
            .setPerPage(MOVIES_PER_FETCH),
        );
        this.movies = concatArraysByKey(options.resetList ? [] : this.movies, newMovies, 'id');
        this.listEndReached = newMovies.length < MOVIES_PER_FETCH;
        this.lastLoadedPage = options.resetList ? 1 : this.lastLoadedPage + 1;
        this.fetchMoviesStatus = FETCH_STATUSES.SUCCESS;
      } catch (e) {
        this.fetchMoviesStatus = FETCH_STATUSES.FAIL;
        if (options.resetList) {
          this.movies = [];
          this.lastLoadedPage = 0;
        }
      }
    },
    fetchDirectors: async function() {
      this.fetchDirectorsStatus = FETCH_STATUSES.PROCESS;
      try {
        this.directors = await Api.getDirectors();
        this.fetchDirectorsStatus = FETCH_STATUSES.SUCCESS;
      } catch (e) {
        this.fetchDirectorsStatus = FETCH_STATUSES.FAIL;
      }
    },
    forceFetch() {
      this.fetchMovies({ forced: true });
      if (this.fetchDirectorsStatus === FETCH_STATUSES.FAIL) {
        this.fetchDirectors();
      }
    },
    onSearchInput(fieldName, query) {
      this.filters[fieldName] = query.trim();
      this.fetchMovies({ resetList: true });
    },
    onSortInput(field, order) {
      if (this.fetchMoviesStatus === FETCH_STATUSES.PROCESS) return;
      this.sortField = order ? field : null;
      this.sortOrder = order;
      this.fetchMovies({ resetList: true });
    },
  },
  computed: {
    joinedData() {
      const result = joinArrays(this.movies, this.directors, 'director', 'directorId', 'id');
      return result;
    },
    humanReadableMoviesFetchStatus() {
      switch (this.fetchMoviesStatus) {
        case FETCH_STATUSES.FAIL:
          return '😞 Error, try again';
        case FETCH_STATUSES.PROCESS:
          return 'Loading...';
        default:
          return '';
      }
    },
  },
  components: {
    HeaderSearchInput,
  },
};
</script>
<style lang="stylus">
body {
  font-family: 'Montserrat', 'Quicksand', sans-serif;
  color: #2c3e50;
  text-align: center;
}

table {
  display: inline-table;
  text-align: left;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
}

tr:nth-child(2n) {
  background-color: #F4F4F4;
}

.status-bar {
  padding: 24px;
}
</style>
